<% include ../partials/header %>
<div class = container><div class= "row">
    <h1 style= "text-align: center">Add new comment to "<%= campground.campGroundName %>"</h1>
        <div style= "width: 30%; margin: 25px auto;">
            <form action= "/index/<%= campground._id %>/comments" method= "POST">
                <div class= "form-group">
                    <input class= "form-control" type= "text" placeholder= "Enter a new comment" name= "comment[text]">
                </div>
                <button class= "btn btn-primary">Submit</button>
                <div class= "form-group">
                    <p><a href= "/index/<%= campground._id %>" class= "backButton">Go Back!</a></p>
                </div>
            </form>
        </div>
<% include ../partials/footer %>
